/*! CSS Used from: https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}
section {
  display: block;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10%;
  margin-left: 13%;
}
@media (max-width: 600px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-4,
.col-md-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  img {
    page-break-inside: avoid;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
  .container {
    min-width: 992px !important;
  }
}
/*! CSS Used from: https://hacksrm.tech/dist/css/style.min.css */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
}
.row {
  margin: auto !important;
}
.section-title {
  margin: 50px 0;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
main .page-section {
  padding: 60px 0;
  background-color: #fff;
}
.themes .container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 80px;
}
.themes .container .row {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.themes .container .row img {
  width: 100%;
}
.themes .container .row .info {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.themes .container .row .info .theme-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #1c1b20;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}
.themes .container .row .info .theme-info {
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0.5;
  word-spacing: 3px;
  text-align: right;
  font-family: "Josefin Sans", sans-serif;
}
.themes .container .left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.themes .container .left .info {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.themes .container .left .info .theme-info {
  text-align: left;
}
/*! CSS Used from: https://hacksrm.tech/dist/css/responsive.min.css */
@media screen and (max-width: 900px) {
  .row {
    margin: -15px;
  }
  main section {
    padding: 30px 0;
  }
  .section-title {
    margin: 50px 0;
    font-size: 3rem !important;
    text-align: center;
    font-weight: 700;
  }
  .themes .container .row .info {
    margin-top: 50px;
    padding: 0 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .themes .container .row .info .theme-title {
    margin-bottom: 20px;
  }
  .themes .container .row .info .theme-info {
    text-align: justify;
  }
}
/*! CSS Used from: https://hacksrm.tech/dist/css/canvas-particle.min.css */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*! CSS Used from: https://hacksrm.tech/dist/css/footer.min.css */
* {
  margin: 0;
  padding: 0;
}
/*! CSS Used from: https://hacksrm.tech/dist/css/darkmode.min.css */
.dark-mode {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
/*! CSS Used from: https://hacksrm.tech/dist/css/scrollbar.min.css */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
