:root {
  font-size: 16px;
  fontfamily: "Open sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 400ms;
}

body {
  color: black;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 500ms ease;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--trasition-speed);
}
.nav-link span {
  min-width: 2rem;
  margin: 0 1.5rem;
}
.link-text {
  display: none;
  font-size: 20px;
}

/* .navbar:hover .nav-link span {
  margin-left: -3.8rem !important;
} */
/* .navbar:hover .nav-link .logospan {
  margin: 0rem !important;
} */
.fa-primary {
  color: #ff7eee !important;
}
.fa-secondary {
  color: #df49a6 !important;
}
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo .logospan {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logospan {
  transform: rotate(-540deg);
}
/* .navbar:hover .logolink {
  margin-left: 4.6rem !important;
} */

/* small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    justify-content: center;
    display: flex;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }

  .nav-item:last-child {
    margin-top: 50vh;
    /* margin-top: auto !important; */
  }
  .navbar:hover .link-text {
    display: block;
  }
}
