/*! CSS Used from: https://dscwow.tech/static/css/2.1a02f21c.chunk.css */
*,
:after,
:before {
  box-sizing: border-box;
}
nav {
  display: block;
}
ul {
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  border-style: none;
}
img {
  vertical-align: middle;
}
@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
}
/*! CSS Used from: https://dscwow.tech/static/css/main.5eccd9fd.chunk.css */
* {
  scroll-behavior: smooth;
}
img {
  display: block;
}
.sidebar__wrapper {
  background: #8c8c8c;
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  overflow: hidden;
  transition: var(--transition-speed);
  list-style: none;
  box-shadow: -10px 0 17.5px #000000;
  z-index: 5;
}
.sidebar__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: none;
  position: relative;
}
.sidebar__item,
.sidebar__item__link {
  width: 100%;
  text-decoration: none;
}
.sidebar__item__link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #c7c3c7;
  -webkit-filter: grayscale(100%) opacity(0.7);
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.sidebar__item__link:hover {
  -webkit-filter: grayscale(0) opacity(1);
  filter: grayscale(0) opacity(1);
  background: var(--focused-state);
  color: white;
  text-decoration: none;
}
.sidebar__item__link i {
  font-size: 1.5rem;
  margin: 0 2rem;
  text-decoration: none;
}
.sidebar__text {
  display: none;
}
.sidebar__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-speed);
}
.sidebar__logo .sidebar__item__link {
  -webkit-filter: grayscale(0) opacity(1) !important;
  filter: grayscale(0) opacity(1) !important;
}
.sidebar__logo__img {
  animation: fa-spin 3s linear infinite;
  width: 70%;
  margin: auto;
  transition: var(--transition-speed);
}
.sidebar__logo:hover .sidebar__logo__img {
  animation: fa-spin 4s linear infinite;
  transition: var(--transition-speed);
}
/* 600_unde */
@media only screen and (max-width: 1000px) {
  .sidebar__wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    height: 8.5rem;
    flex-direction: row;
    width: 100vw;
    box-shadow: 0 10px 20px #000000;
  }
  .sidebar__item__link {
    height: 3.5rem;
  }
  .sidebar__item__link i {
    font-size: 3.25rem;
  }
  .sidebar__logo {
    display: none;
  }
  .sidebar__nav {
    flex-direction: row;
  }
  /* .sidebar__item:nth-child(2) {
    display: none;
  } */
  .sidebar__item__link i {
    margin: auto;
  }
}
* {
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}
footer {
  padding: 30px 0px 30px 0px;
  position: auto;
  background: #8c8c8c;
  color: white;
}
.foot {
  color: white;
}
.foot:hover {
  color: white;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
/* glass-agri */
.box-container {
  padding: 85px;
  background-image: url(https://cdn.techhq.com/wp-content/uploads/2020/02/shutterstock_692043769-861x484.jpg);
  align-content: center;
}
@media (max-width: 1000px) {
  .box-container {
    margin-left: -200px;
  }
}
.blurred-box {
  position: relative;
  width: 650px;
  height: 250px;
  top: calc(50% - 175px);
  /* left: calc(50% - 125px); */
  left: 30%;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after {
  content: "";
  /* width: 300px;
  height: 300px; */
  background: inherit;
  position: absolute;
  left: -25px;
  /* left position; */
  right: 0;
  top: -25px;
  /* top position  */
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}

.tetbox {
  position: relative;
  z-index: 1;
  color: #f5f5f5;
  padding: 30px;
}
.tetbotet {
  text-align: center;
  position: relative;
}

/* ps_table */
.style-2::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}
.style-2::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000d27;
}
/*! CSS Used from: https://www.sih.gov.in/css/style_new.css */
h6 {
  color: #323233;
  text-transform: uppercase;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 15px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #f2f2f2;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  outline: 0;
  box-shadow: none;
}
.next {
  right: -2.25rem;
}
@media screen and (max-width: 768px) {
  .next {
    right: 0;
  }
}
section.prob-statement-panel {
  background-color: #fff;
  padding: 70px 0;
}
td.colomn_border {
  text-align: center;
  font-size: 12px;
  font-family: montserratregular;
}
td.colomn_border a {
  cursor: pointer;
  font-size: 12px;
  font-family: montserratregular;
  color: #3a488b !important;
}
td.colomn_border a:hover {
  text-decoration: underline !important;
}
.modal-dialog {
  max-width: 700px;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 20px 30px;
}
select.sortByPS {
  border: 1px solid #3a488b;
  padding: 9px 40px 9px 10px;
  border-radius: 5px;
  color: #3a488b;
  font-family: montserratregular;
  background-image: linear-gradient(45deg, white 50%, #3a488b 50%),
    linear-gradient(135deg, #3a488b 50%, white 50%),
    linear-gradient(to right, #ffffff, #ffffff);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 10px 5px, 7px 7px, 3.5em 2.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 14px;
  width: 100%;
  outline: none;
}
.labelBox label {
  margin: 0 0 5px 0;
  font-family: montserratsemibold;
  color: #3a488b;
  font-size: 15px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 4px;
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  outline: none;
}
input[type="radio"]:checked {
  background-color: #3a488b;
  border: 2px solid #3a488b;
  outline: none;
}
span.Filter_label {
  font-family: montserratbold;
  color: #3a488b;
  font-size: 15px;
  position: absolute;
  top: 2px;
  left: 44px;
}
.catBox1 {
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: #000000;
}
.catBox1:hover {
  color: rgb(51, 51, 51);
  stroke: black;
  stroke-width: 3px;
}
.dataTables_filter {
  float: right;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #c1c6cc;
}
th.sorting {
  font-size: 13px;
  font-family: montserratsemibold;
  margin: 0;
  padding-right: 0 !important;
}
th.sortingBottom {
  font-size: 13px;
  font-family: montserratsemibold;
  margin: 0;
  padding-right: 0 !important;
  padding-bottom: 0;
}
table#dataTablePS td {
  font-family: montserratregular;
  font-size: 13px;
  width: 18%;
}
table#dataTablePS td img {
  width: 100%;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}
.modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 23px;
  padding-right: 88px;
}

.style-2 {
  overflow-y: auto;
  min-height: 20px;
  max-height: 200px;
}

.fa-close {
  color: #000000;
  text-align: center;
  size: 20px;
  margin: 23px;
}

.fa-close:hover {
  color: #5f5f5f;
  text-align: center;
  size: 20px;
}

.headlogo {
  height: auto;
  width: 100px;
  padding-right: 60px;
  position: relative;
}

.fa-map-marker-alt {
  padding-right: 5px;
}

.fa-calendar-alt {
  padding-right: 5px;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
table td {
  padding: 1rem;
  border: 5px solid black;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}

.icons {
  font-size: 25px;
  display: inline;
  margin-top: 15px;
}

#clockdiv {
  display: inline-block;
  font-weight: 100;
  text-align: left;
  font-size: 30px;
}
#clockdiv div {
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}
#clockdiv div span {
  padding: 30px;
  border-radius: 5px;
  background: black;
  color: white;
  display: inline-block;
}
.counter {
  font-size: 20px;
  margin-right: 40px;
}
.abc {
  padding: 2rem;
}

.btn-primary {
  width: 250px;
}

.reg-button {
  margin-top: 15px;
  padding-top: 25px;
}

.title1 {
  font-size: 25px;
  font-style: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-header > .close {
  margin: 4px;
}
/*! CSS Used from: https://www.sih.gov.in/css/responsive.css */
@media only screen and (max-device-width: 568px) {
  .row.catBox1 {
    padding: 10px 0 20px 0;
    width: 100%;
  }
  .radioButPS {
    display: inline-block;
    width: 220px;
  }
  .dataTables_wrapper {
    width: 100%;
    overflow-y: scroll;
  }
}
@media only screen and (max-device-width: 480px) {
  .row.catBox1 {
    padding: 10px 0 20px 0;
    width: 100%;
  }
  .radioButPS {
    display: inline-block;
    width: 220px;
  }
  .dataTables_wrapper {
    width: 100%;
    overflow-y: scroll;
  }
}
@media only screen and (max-device-width: 414px) {
  .row.catBox1 {
    padding: 10px 0 20px 0;
    width: 100%;
  }
  .radioButPS {
    display: inline-block;
    width: 220px;
  }
  .dataTables_wrapper {
    width: 100%;
    overflow-y: scroll;
  }
}
@media only screen and (max-device-width: 375px) {
  .row.catBox1 {
    padding: 10px 0 20px 0;
    width: 100%;
  }
  .radioButPS {
    display: inline-block;
    width: 220px;
  }
  .dataTables_wrapper {
    width: 100%;
    overflow-y: scroll;
  }
}
@media only screen and (max-device-width: 320px) {
  .row.catBox1 {
    padding: 10px 0 20px 0;
    width: 100%;
  }
  .radioButPS {
    display: inline-block;
    width: 220px;
  }
  .dataTables_wrapper {
    width: 100%;
    overflow-y: scroll;
  }
}
/*! CSS Used from: https://www.sih.gov.in/css/animate.css */
.style-2::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}
.style-2::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000d27;
}
/*! CSS Used from: https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}
table.dataTable tfoot th {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("https://cdn.datatables.net/1.10.20/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("https://cdn.datatables.net/1.10.20/images/sort_asc.png");
}
table.dataTable tbody tr {
  background-color: #ffffff;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}
table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate {
  color: #333;
}
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
}
/* 
css for teams */
/*! CSS Used from: https://dscwow.tech/static/css/2.1a02f21c.chunk.css */
*,
:after,
:before {
  box-sizing: border-box;
}
section {
  display: block;
}
h1,
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  border-style: none;
}
img,
svg {
  vertical-align: middle;
}
svg {
  overflow: hidden;
}
h1,
h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-3,
.col-md-6,
.col-md-9,
.col-md-10 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.card-subtitle {
  margin-top: -0.375rem;
}
.card-subtitle {
  margin-bottom: 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.justify-content-center {
  justify-content: center !important;
}
@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}
/*! CSS Used from: https://dscwow.tech/static/css/main.5eccd9fd.chunk.css */
* {
  scroll-behavior: smooth;
}
img {
  display: block;
}
.section__header {
  font-weight: 500;
  font-size: 2rem;
  padding: 1.25rem 0;
  color: #4c4c4c;
  color: var(--text-tertiary);
}
@media only screen and (max-width: 600px) {
  .section__header {
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}
section {
  padding: 2rem 0;
}
.speakers__wrapper {
  background: var(--bg-secondary);
}
.speaker__card {
  height: 300px;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: #fff;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 8px 8px 8px 8px hsla(0, 0%, 100%, 0.2);
  border: 1.25px solid var(--btn-primary);
  margin: 1rem auto;
}
@media screen and (max-width: 960px) {
  .speaker__card {
    height: 300px;
    margin: 0.5rem 2rem;
  }
}
.card-header {
  height: 80px;
}
.card-cover {
  height: 100px;
  top: -50px;
}
.card-avatar {
  transform: none;
  left: 20px;
  width: 50px;
  height: 50px;
  bottom: 10px;
}
.card-fullname,
.card-jobtitle {
  left: 86px;
  transform: none;
}
.card-fullname {
  bottom: 18px;
  font-size: 19px;
}
.card-jobtitle {
  bottom: 9px;
  letter-spacing: 1px;
  font-size: 10px;
}
.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}
.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(25px);
  filter: blur(25px);
  transform: scale(1.25);
  transition: 0.5s;
  opacity: 0;
}
.card-avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  transform: translateX(-50%) translateY(-64px);
}
.card-avatar,
.card-fullname {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.card-fullname {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
}
.card-jobtitle {
  position: absolute;
  bottom: -2.5px;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}
.card-main {
  position: relative;
  flex: 1 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}
.card-subtitle {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}
.card-content {
  padding: 20px;
}
.card-desc {
  line-height: 1.6;
  color: var(--text-tertiary);
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
.card-social {
  position: center;
  align-content: center;
  padding: 20px 0px 20px 0px;
  margin-bottom: 30px;
}
.card-social svg {
  fill: #a5b5ce;
  width: 16px;
  display: block;
  transition: 0.3s;
}
.card-social a {
  color: #8797a1;
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0;
  background-color: rgba(93, 133, 193, 0.05);
  border-radius: 50%;
  margin-right: 10px;
}
.card-social a:hover svg {
  fill: darken(#a5b5ce, 20%);
}
.card-social a:last-child {
  margin-right: 0;
}
.speaker__card:hover .card-cover {
  opacity: 1;
}
* {
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
}

/* canvas */
/* body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(
      circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent
    ),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
} */
canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#home {
  background-color: #000;
  background-image: radial-gradient(
      circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent
    ),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  color: #ffffff;
}
